<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Web Hero Manager</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Product Details</h2>
    <div>
        <form class="form-horizontal" th:object="${hero}" th:action="@{/hero}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hero Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{heroName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Speed:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{speed}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dex:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{dex}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Con:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{con}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>