<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Web Hero Manager</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(heroes)}">
        <h2>Heroes List</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th class='text-center'>Speed</th>
                <th class='text-center'>Dex</th>
                <th class='text-center'>Con</th>
                <th class='text-right'>View</th>
                <th class='text-right'>Edit</th>
                <th class='text-right'>Delete</th>
            </tr>
            <tr th:each="hero : ${heroes}">
                <td th:text="${hero.HeroName}">Name</td>
                <td th:text="${hero.speed}" class='text-center'>speed</td>
                <td th:text="${hero.dex}" class='text-center'>dex</td>
                <td th:text="${hero.con}" class='text-center'>con</td>
                <td class='text-right'><a th:href="${'/hero/' + hero.id}">View</a></td>
                <td class='text-right'><a th:href="${'/hero/edit/' + hero.id}">Edit</a></td>
                <td class='text-right'><a th:href="${'/hero/delete/' + hero.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>